<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fanuc">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import fanuc urdf file -->
    <xacro:include filename="$(find fanuc_moveit_urdf)/urdf/fanuc.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="fanuc.ros2_control.xacro" />


    <xacro:fanuc_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
