<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="x1">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import x1 urdf file -->
    <xacro:include filename="$(find x1_moveit_urdf)/urdf/x1.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="x1.ros2_control.xacro" />


    <xacro:x1_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
